.body {
    margin: 0px;
    padding: 0px;
}

.heading {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.footer {
    background-color: #5c2111;
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;

    padding-top: 6vw;

    padding-bottom: 6vw;
}

.topfooter {
    display: flex;
    justify-content: center;
}



.footercolumn {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.footer .footerlogo img {
    background-color: #FFFFFF;
    width: 5.53vw;
    height: auto;
    border-radius: 2.6vw;
    margin-left: 3.9vw;
}

.footer .topfooter .footercolumn .email,
.footer .topfooter .footercolumn .phone,
.footer .topfooter .footercolumn .location,
.footer .topfooter .footercolumn .socialmedia {
    display: flex;
    justify-content: start;
    align-items: center;

}

.footer .topfooter .logo {
    display: flex;
    margin: 0px 0px 0px 0px;

}

.footer .socialmediaicons {
    display: flex;

}

.footer .socialmedia .icon {
    margin: 10px 10px 0px 0px;
    background-color: #fefdfd;
    border-radius: 50%;
    max-width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer .socialmediaicons .icon img {
    flex-basis: 33.33%;
}

.footer p {
    color: #FFFFFF;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}


.followus .socialmediaicons img {
    width: 1.8rem;
    padding: 0.195vw;
}

.botnav {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}


.botnav a {
    float: center;
    color: #fefdfd;
    text-align: center;
    padding: 1vw;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 28px;
    width: 108px;
    margin:0px 15px;
}

.botnav a:hover {
    background-color: #F9E9E5;
    color: #5c2111;

}

.footer hr {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1.2vw;
    color: #fefdfd;

}