body {
    margin: 0px;
    padding: 0px;
}


.heading {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}



/*Navigation bar*/
.navbar {
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
}

.logo {
    width: 3rem;
    height: auto;
}

/* Logo animation*/
@keyframes logorotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* @keyframes logorotation {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(200deg);
    }

    50% {
        transform: rotate(90deg);
    }

} */

.navbar .logo-container img {
    animation-name: logorotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
}

/* Logo animation*/
.menu {
    margin: auto;
}

.menu a {
    padding: 1rem 2rem;
    color: #5C2111;
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    margin: auto 20px auto 20px;
    width: 1.5rem;
}

/*Navigation bar*/


.hero-section {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;

}

.hero-section .hero-image {
    display: flex;
    justify-content: center;
    width: 25%;
    height: auto;
}

.hero-section .hero-image img {
    width: 30rem;
    height: auto;

}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}





/* Products */

.card {
    box-sizing: border-box;
    max-width: 22rem;
    max-height: fit-content;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Adjusted */
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 0% 2%;
    /* Adjusted */
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.card .image {
    width: 100%;
    /* Adjusted */
    height: 40%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 17px;
    /* Adjusted */
    border-top-right-radius: 17px;
    /* Adjusted */
}

.card .caption {
    padding: 0 15px;
    /* Adjusted */
    text-align: left;
    line-height: 1.5em;
    /* Adjusted */
}

.card .caption p {
    color: #7a4b3d;
    margin: 5px 0;
    /* Adjusted */
}

.card .caption h3 {
    color: #5C2111;
    margin: 10px 0;
    /* Adjusted */
}

.row {
    display: flex;
    justify-content: center;
    margin: 70px 0px;

}


/* Add to cart button */
.card button {
    --color: #5C2111;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.6em;
    /* Adjusted */
    margin: 10px;
    /* Adjusted */
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    color: var(--color);
}

.card button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    /* Adjusted */
    width: 200px;
    /* Adjusted */
    border-radius: 50%;
    transition: all .7s;
    opacity: 0.3;
    /* Adjusted */
}

.card button:hover {
    color: #fff;
}

.card button:before {
    top: 100%;
    left: 100%;
}

.card button:hover:before {
    top: -30px;
    left: -30px;
}

.card button:active:before {
    background: #5C2111;
    transition: background 0s;
}

/*Products*/




/*Footer*/

.footer {
    height: auto;
    background-color: #5c2111;
    width: 100%;
    font-family: "Montserrat", fantasy;
    padding-top: 6.51vw;
    float: right;
    padding-bottom: 6vw;
}

.footer p {
    color: #FFFFFF;
}

.footer c img {
    background-color: #FFFFFF;
    width: 5.53vw;
    height: 5.2vw;
    border-radius: 2.6vw;
    padding-bottom: 0.32vw;
    margin-left: 3.9vw;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.footer td {
    text-align: center;
    padding-left: 3.9vw;
}

.logo img {
    margin-right: -3.25vw;

}

.instagram img {
    width: 1.43vw;
    padding-top: 0.195vw;
    padding-right: 0.195vw;
    padding-left: 0.195vw;
    padding-bottom: 0.195vw;


}

.instagram td {
    padding: 0.13vw;
    background-color: #fefdfd;
    border-radius: 1.62vw;
}

.botnav table {
    margin-left: 32%;
    margin-right: 30%;
    background-color: #5c2111;
}

.botnav a {
    float: center;
    color: #fefdfd;
    ;
    text-align: center;
    padding: 0.91vw;
    font-size: 1rem;
    text-decoration: none;
    font-family: "Montserrat", fantasy;
    border-radius: 28px;
    width: 108px;
}

.botnav a:hover {
    background-color: #F9E9E5;
    color: #5c2111;

}

.footer hr {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.65vw;
    color: #fefdfd;
    
}