body {
    margin: 0px;
    padding: 0px;
}


.josefin-sans-heading {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.poppins-extralight-text {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}



/*Navigation bar*/
.navbar {
    display: flex;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
}

.logo {
    width: 3rem;
    height: auto;
}

/* Logo animation*/
@keyframes logorotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* @keyframes logorotation {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(200deg);
    }

    50% {
        transform: rotate(90deg);
    }

} */

.navbar .logo-container img {
    animation-name: logorotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
}

/* Logo animation*/
.menu {
    margin: auto;
}

.menu a {
    padding: 1rem 2rem;
    color: #5C2111;
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    margin: auto 20px auto 20px;
    width: 1.5rem;
}

/*Navigation bar*/


.hero-section {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;

}

.hero-section .hero-image {
    display: flex;
    justify-content: center;
    width: 25%;
    height: auto;
}

.hero-section .hero-image img {
    width: 30rem;
    height: auto;

}

.hero-section .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}


/*Products*/


.card {
    max-width: 300px;
    flex: 1 1 210px;
    text-align: center;
    height: 420px;
    border: 1px solid lightgray;
    margin: 20px;
}

.card .image {
    height: 50%;
    margin-bottom: 20px;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 3em;
    height: 25%;
}

.card .caption p {
    font-size: 1.5rem;
}



.card .caption .rate {
    display: flex;
}

.card .caption .rate i {
    color: gold;
    margin-left: 2px;
}

.card a {
    width: 50%;
}

.card button {
    border: 2px solid black;
    padding: 1em;
    width: 80%;
    cursor: pointer;
    margin-top: 2em;
    font-weight: bold;
    position: relative;
}

.card button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
    margin: 0;
}

.card button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
}

.card button:hover::before {
    width: 30%;
}

.card button:hover::after {
    width: 30%;
}

/*Products*/